$header-height: 56px;
.chat-header {
    border-bottom: 1px solid #2d2f32;
    height: $header-height;
    position: absolute;
    z-index: 3;
    top:0;
    background-color: #36393E;
    width: 100%;
    &__sidepanel-btn{
      display: inline-block;
    }
    &__title{
        display: inline-block;
        height: $header-height;
        padding: 18px 10px 10px 20px;
        box-sizing: border-box;

        color:#fff;
        margin: 0;
        font-size: 18px;
        font-weight:800;
    }
}
