.permission-item{
  width: 220px;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  padding: 10px 20px 10px 0px;
  margin-bottom: 10px;
  cursor: pointer;
  &__checkbox{

  }
}
