.server-menu{
  height: 56px;
  color: #fff;
  box-sizing: border-box;
  width: 100%;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  &__btn{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
    font-family:'open sans';
    transition: background-color .2s;

    &:hover{
      background-color: rgba(0,0,0,0.16);
    }
  }
  &__title{
    margin: 0 20px;
    width: 180px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 56px;
    
  }
  &__arrow{
    border-color: #999 transparent transparent;
    border-style: solid;
    border-width: 5px 5px 2.5px;
    display: inline-block;
    height: 0;
    width: 0;
  }
  &__arrow-place{
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 6px;
  }
  &__drop{
    border-radius: 4px;

    background-color: #fff;
    width: 216px;
    margin: 0;
    list-style: none;
    padding: 0;
  }
  &__option{
    cursor: pointer;
    padding: 10px 20px;
  }
}
